<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>

<body>

<p1>Bienvenido a propietarios</p1>
<a href="/homeowner">Ir a propietarios</a>
</body>
</html>